@import'components/verible';
@import'components/mixin';

* {
    @include spacing(0,0);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    font-family: $font-style;
    background-color: $body_background;
}
@import'components/sign-up';