$btn_main:rgba(32, 122, 254, 1);
$btn_secondary:rgb(255, 255, 255);
$body_background: #d9e0ed;
$footer_background:white;
$fomr_color:white;
$border-radius:12px;
$font-color-b:rgb(24, 24, 24);
$font-color-w:rgb(255, 255, 255);
$hover:rgba(32, 122, 254, 1);
$font-style:sans-serif;
$font-size-small:13px;
$font-size-meduim:15px;
$font-size-big:18px;
$search-size:10px;
$margin-left:5%;
$margin-right:5%;
$font-select-b:17px;
$font-select-m:11px;
$font-select-s:8px;
$font-title-c:rgb(23, 23, 23);
$font-title:25px;







